.login{

  display: flex;
  flex-direction: column;
  gap: 37px;
}

.login > h2{
  text-align: center;
}

.login form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
}

.login form fieldset{
  display: flex;
  flex-direction: column;
  gap: 7px;
  
}

.login form fieldset > input{
  height: 51px;
  width: 379px;
}

#validate{
  height: 36px;
}

body{
  background-color: #FFFEF8;
}

footer{
  background-color: white;
 
}

footer nav ul{
  height: 60px;
}