a {
  text-decoration: none;
  color: black;
}

.login--selected {
  font-weight: 600;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.login > h2 {
  text-align: center;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.login form fieldset {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.login form fieldset > input {
  height: 51px;
  width: 379px;
}

#validate {
  height: 36px;
}

body {
  background-color: #fffef8;
}

footer {
  background-color: white;
}

footer nav ul {
  height: 60px;
}

.edition__container {
  background-color: black;
  color: white;
  /*width: 100%;*/
  justify-content: center;
  align-items: center;
  height: 59px;
  width: 1440px;
  gap: 11.42px;
  display: none;
  position: relative;
  z-index: 2;
  right: 150px;
}

.visible {
  display: flex;
}

.error {
  display: none;
}

.error--visible {
  display: block;
  color:Red;
}
